# Entornos virtuales

venv/
env/
**pycache**/

# Archivos de caché de Python

_.py[cod]
_.pyo
\*.pyd

# Archivos de configuración de Jupyter Notebook

.ipynb_checkpoints/

# Archivos generados

_.log
_.pot
_.swp
_.swo
_.bak
_.tmp
